<h2>Pagamento</h2>
<p class="padding">Seleziona il metodo di pagamento</p>
<div class="list">

  <label class="item item-radio">
    <input type="radio" name="payment" class="payment" value="Assegno">
    <div class="radio-content">
      <div class="item-content">
        Assegno
      </div>
      <i class="radio-icon ion-checkmark"></i>
    </div>
  </label>

  <label class="item item-radio">
    <input type="radio" name="payment" class="payment" value="A carico gettone">
    <div class="radio-content">
      <div class="item-content">
        A carico gettone
      </div>
      <i class="radio-icon ion-checkmark"></i>
    </div>
  </label>

  <label class="item item-radio">
    <input type="radio" name="payment" class="payment" value="Bonifico bancario">
    <div class="radio-content">
      <div class="item-content">
        Bonifico bancario
      </div>
      <i class="radio-icon ion-checkmark"></i>
    </div>
  </label>

  <label class="item item-radio">
    <input type="radio" name="payment" class="payment" value="PayPal">
    <div class="radio-content">
      <div class="item-content">
        PayPal
      </div>
      <i class="radio-icon ion-checkmark"></i>
    </div>
  </label>

  <label class="item item-radio">
    <input type="radio" name="payment" class="payment" value="Crediti">
    <div class="radio-content">
      <div class="item-content">
        Crediti
      </div>
      <i class="radio-icon ion-checkmark"></i>
    </div>
  </label>

</div>

<div class="footer-cart-payment">
  <ul class="list">
    <li class="item item-icon-right">
      Costo totale:
      <i class="icon ion-social-euro"><span class="total-price"></span></i>
    </li>
  </ul>
</div>

<div class="padding send-order">
  <a class="button button-block button-green">Ordina</a>
</div>
