<h2>Contatti</h2>
<div class="padding">
  <address>
    <ul class="list contacts-list">
        <li class="item item-icon-left">
          <i class="icon ion-location"></i>
          Loveitaly s.r.l.s, Via Abbazia 16 - 66030 Treglio (CH)
        </li>
        <li class="item item-icon-left">
          <i class="icon ion-android-call"></i>
          Contattaci: <a href="tel:3711437431">371 14 37 431</a>
        </li>
        <li class="item item-icon-left">
          <i class="icon ion-android-mail"></i>
          <a href="mailto:info@loveitaly.net">info@loveitaly.net</a>
        </li>
    </ul>
    <small>Loveitaly s.r.l.s. - P.IVA e N. iscr. al R.I. 02464240692</small>
  </address>
</div>