<form id="login-form">
  <div class="list">
    <label class="item item-input item-stacked-label">
      <span class="input-label">Email</span>
      <input type="email" class="email" required="required">
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Password</span>
      <input type="password" class="password" required="required">
    </label>
  </div>
  <div class="padding">
    <button type="submit" class="button button-block button-green">Login</button>
  </div>
</form>
