<form id="registration-form">
  <div class="list">
    <label class="item item-input item-stacked-label">
      <span class="input-label">Nome</span>
      <input type="text" class="firstname" required="required">
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Cognome</span>
      <input type="text" class="surname" required="required">
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Email</span>
      <input type="email" class="email" required="required">
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Password</span>
      <input type="password" class="password" required="required">
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Ripeti Password</span>
      <input type="password" class="repeat-password" required="required">
    </label>
  </div>
  <div class="padding">
    <button type="submit" class="button button-block button-green">Crea Account</button>
  </div>
</form>
