<div class="view">

  <div class="menu menu-left">
  </div>
  <div class="menu-content pane">

    <div class="bar bar-header">
      <div class="buttons">
       <button id="toggle-menu" class="button button-icon icon ion-navicon active"></button>
       <button id="back" class="button button-icon icon ion-arrow-left-c"></button>
      </div>
      <a class="title" href="#/"><img class="logo" src="img/logo-loveitaly-app.png" alt=""></a>
      <div class="buttons">
        <a href="#" class="button button-cart"><i class="icon ion-android-cart"></i></a>
      </div>
      
    </div>
    <div class="bar bar-subheader">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Cerca Prodotto">
      </label>
    </div>
  
  <div class="main-content scroll-content ionic-scroll overflow-scroll">

    <div id="content"></div>

  </div>

</div>