<div class="view">
  <div class="overlay-menu"></div>
  <div id="main-menu" class="menu menu-left menu-animated">
    <ul class="list">
      <li class="item">
        <a href="#" data-url="#/">Home</a>
      </li>
      <li class="item">
        <a href="#" data-url="#info">Informazioni</a>
      </li>
      <li class="item">
        <a href="#" data-url="#abour">Chi Siamo</a>
      </li>
      <li class="item">
        <a href="#" data-url="#contacts">Contatti</a>
      </li>
      <li class="item">
        <a href="#" data-url="#faq">FAQ</a>
      </li>
      <li class="item">
        <a href="#" data-url="#wishlist">Wishlist</a>
      </li>
      <li class="item login">
        <a href="#" data-url="#login">Login</a>
      </li>
      <li class="item registration">
        <a href="#" data-url="#registration">Registrazione</a>
      </li>
      <li class="item orders">
        <a href="#" data-url="#orders">I Miei Ordini</a>
      </li>
      <li class="item profile">
        <a href="#" data-url="#profile">Profilo</a>
      </li>
      <li class="item logout">
        <a href="#">Logout</a>
      </li>
    </ul>
  </div>
  <div class="menu-content pane">

    <div class="bar bar-header">
      <div class="buttons">
       <button id="toggle-menu" class="button button-icon icon ion-navicon active"></button>
       <button id="back" class="button button-icon icon ion-arrow-left-c"></button>
      </div>
      <a class="title" href="#/"><img class="logo" src="img/logo-loveitaly-app.png" alt=""></a>
      <div class="buttons">
        <a href="#cart" class="button button-cart"><i class="icon ion-android-cart"></i></a>
      </div>
      
    </div>

    <form action="#" class="search-form">
      <div class="bar bar-subheader item-input-inset">
      
        <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="search" placeholder="Cerca Prodotto" class="product-name" required="required">
        </label>
        <button type="submit" class="button button-clear"><i class="icon ion-android-send"></i></button>

      </div>
    </form>
  
    <div class="main-content scroll-content ionic-scroll overflow-scroll">

      <div id="content"></div>

    </div>

  </div>

</div>

<div class="container-offline-mode">
  <div class="padding">
    <img src="img/logo-loveitaly-app.png" alt="">
    <p>Per poter continuare ad utilizzare l'app bisogna essere online.</p>
  </div>
</div>