body{
  font-family: Open Sans,Helvetica,sans-serif;
}
img {
  max-width: 100%;
  max-height: 100%;
}
.no-padding{
  padding: 0;
}
.no-margin{
  margin: 0;
}
.bar-header{
  background-color: #439933;
}
.bar-header .ion-navicon, #back{
  color: #fff;
}
#back, #toggle-menu{
  display: none;
}
#back.active, #toggle-menu.active{
  display: block;
  opacity: 1;
}
.bar-header .logo{
  margin: 0 auto; 
  padding: 5px;
}
.bar-header .button-cart{
  color: #a21c26; 
  background-color: #fff;
}
.bar-header .ion-android-cart{
  font-size: 25px;
}
.bar-subheader{
  top: 43px;
}
.bar-subheader .item-input-wrapper{
  max-height: 34px;
}
.bar-subheader .item-input-wrapper input{
  width: 100%; 
  background-color: transparent;
}
.main-content{
  top: 88px;
}
.main-content .slider{
  height: 250px; 
  visibility: visible;
}
.main-content .slider .slider-slide img{
  max-height: 100%; 
  width: 100%;
}
.main-content h2{
  text-align: center; 
  margin: 0; 
  color: #127f3f;
}
.max-content{
  width: -webkit-max-content; 
  width: max-content;
}
.max-content .container-card{
  float: left;
}
.max-content .container-card .card{
  position: relative;
  max-width: 18em;
}
.max-content .container-card .card .new-box{
  position: absolute; 
  overflow: hidden; 
  height: 85px; 
  width: 85px; 
  text-align: center; 
  z-index: 0; 
  top: 0px; 
  right: 0px; 
  z-index: 999;
}
.max-content .container-card .card .new-label{
  z-index: 1; 
  background: none repeat scroll 0 0 #a21c26; 
  color: #fff; 
  display: block; 
  font: 800 14px/20px Open Sans,Helvetica,sans-serif; 
  right: -46px; 
  padding: 25px 0 7px; 
  position: absolute; 
  text-align: center; 
  text-transform: capitalize; 
  top: -11px; 
  width: 120px; 
  transform: rotate(45deg);
}
.max-content .container-card .card .product-image img{
  max-width: 100%;
  max-height: 100%;
  transform: translateY(-50%);
  position: relative;
  top: 50%;
}
.container-card .card .product-name a{
  text-align: center; 
  color: #127f3f; 
  font-weight: 900;
  text-decoration: none;
  font-size: .8em;
  white-space: normal;
}
.max-content .container-card .card .product-image{
  padding: 5px; 
  text-align: center;
  height: 10em;
}
.single-product .product-slider-image{
  padding: 5px; 
  text-align: center;
  height: 10em;
}
.container-card .card .product-desc{
  text-align: center; 
  padding: 0px; 
  padding-top: 8px;
}
.container-card .card .product-desc .product-price{
  color: #127f3f; 
  font-weight: bold;
}
.button-green{
  background-color: #127f3f; 
  color: #fff;
  font-weight: bold; 
  height: 2.3em; 
  line-height: 35px; 
  min-height: initial; 
  min-width: initial;
}
.button-green:focus, .button-green:active, .button-green:hover{
  color: #fff;
}
.single-product .product-name, .single-manufacturer .manufacturer-name{
  margin: 5px;
}
.single-product .container-card .card, .single-manufacturer .container-card .card{
  margin-top: 0;
}
.single-product .product-image{
  padding: 5px; 
  text-align: center;
}
.single-product .product-image img{
  border-radius: 10px;
}
.single-product .product-slider-image{
  float: left;
  max-height: 10em;
}
.single-product .product-slider-image img {
  max-width: 11em;
  border-radius: 10px;
}
.single-product .product-quantity {
  padding: 10px;
}
.single-product .quantity{
  display: inline-block;
  max-width: 5em;
  padding: 0;
  max-height: 1.5em;
}
.single-product .tabs{
  position: relative;
  background-image: none;
}
.single-product .tabs .tab-item.active{
  font-weight: bold;
}
.single-product .container-content-tabs{
  padding: 5px;
}
.single-product .container-content-tabs .tab-content{
  display: none;
}
.single-product .container-content-tabs .tab-content.active{
  display: block;
}
.single-product .tab-content .item-note{
  float: none;
}
.single-product .go-manufacturer, .single-product .go-manufacturer-products{
  margin: 10px;
}
.single-manufacturer .manufacturer-description{
  text-align: justify;
}
.single-manufacturer .manufacturer-description h5, .single-manufacturer .manufacturer-description h4, .single-manufacturer .manufacturer-description h6,
#description-tab h5, #description-tab h6, #description-tab h4{
  font-size: 1.2em;
}
.single-manufacturer h3{
  font-size: 1.4em;
}
.single-manufacturer .manufacturer-description img{
  display: block;
}
.single-manufacturer address {
  font-size: .9em;
}
.button-green .ion-plus-circled {
  position: relative;
  top: -3px;
  left: -5px;
}