/* STANDARD FOR MOBILE */
* {
  /* transparent link and button selection */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

body {
  -webkit-touch-callout: none;
  /* no callouts during tap and hold */
  -webkit-text-size-adjust: none;
  /* no fonts auto inflation */
  -webkit-user-select: none;
  /* no copy and paste, etc. */
  background-attachment: fixed;
  font-family: 'Open Sans','HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0px;
  padding: 0px;
  width: 100%; 
  overflow-y: hidden;
}

/* END STANDARD MOBILE */
/* CUSTOM FONTS */
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(../fonts/OpenSans-Regular.ttf) format('ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../fonts/OpenSans-Bold.ttf) format('ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* END CUSTOM FONTS */
/* START STRUCTURE */
img {
  max-width: 100%;
  max-height: 100%;
}
.no-padding{
  padding: 0;
}
.no-margin{
  margin: 0;
}
#main-menu{
  z-index: 100;
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
}
#main-menu.opened{
  transform: translateX(0%);
}
.menu-content{
  -webkit-transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
}
.menu-content.menu-opened{
  transform: translateX(275px);
}
.menu-content.menu-opened .scroll-view.scroll-x{
  overflow-x: hidden;
}
#main-menu > .list > .item{
  padding: 0;
}
#main-menu > .list > .item > a{
  padding: 16px;
  display: block;
  text-decoration: none;
  color: #439933;
  font-weight: bold;
}
.overlay-menu{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
  background: rgba(0,0,0,.45);
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}
.overlay-menu.active{
  opacity: 1;
  z-index: 99;
}
.bar-header{
  background-color: #439933;
}
.bar-header .ion-navicon{
  color: #fff;
}
#back{
  color: #a21c26;
}
#back, #toggle-menu{
  display: none;
}
#back.active, #toggle-menu.active{
  display: block;
  opacity: 1;
}
.bar-header .logo{
  margin: 0 auto; 
  padding: 5px;
}
.bar-header .button-cart{
  color: #a21c26; 
  background-color: #fff;
}
.bar-header .ion-android-cart{
  font-size: 25px;
}
.bar-subheader{
  top: 43px;
}
.bar-subheader .item-input-wrapper{
  max-height: 34px;
}
.bar-subheader .item-input-wrapper input{
  width: 100%; 
  background-color: transparent;
}
.main-content{
  top: 88px;
}
.main-content.menu-opened{
  overflow-y: hidden;
}
.main-content .slider{
  height: 250px; 
  visibility: visible;
}
.main-content .slider .slider-slide img{
  max-height: 100%; 
  width: 100%;
}
.main-content h2{
  text-align: center; 
  margin: 0; 
  color: #127f3f;
}
.max-content{
  width: -webkit-max-content; 
  width: max-content;
}
.max-content .container-card{
  float: left;
}
.max-content .container-card .card{
  position: relative;
  max-width: 18em;
}
.max-content .container-card .card .new-box{
  position: absolute; 
  overflow: hidden; 
  height: 85px; 
  width: 85px; 
  text-align: center; 
  z-index: 0; 
  top: 0px; 
  right: 0px; 
  z-index: 999;
}
.max-content .container-card .card .new-label{
  z-index: 1; 
  background: none repeat scroll 0 0 #a21c26; 
  color: #fff; 
  display: block; 
  font: 800 14px/20px Open Sans,Helvetica,sans-serif; 
  right: -46px; 
  padding: 25px 0 7px; 
  position: absolute; 
  text-align: center; 
  text-transform: capitalize; 
  top: -11px; 
  width: 120px; 
  transform: rotate(45deg);
}
.max-content .container-card .card .product-image img{
  max-width: 100%;
  max-height: 100%;
  transform: translateY(-50%);
  position: relative;
  top: 50%;
}
.container-card .card .product-name a{
  text-align: center; 
  color: #127f3f; 
  font-weight: 900;
  text-decoration: none;
  font-size: .8em;
  white-space: normal;
}
.max-content .container-card .card .product-image{
  padding: 5px; 
  text-align: center;
  height: 10em;
}
.single-product .product-slider-image{
  padding: 5px; 
  text-align: center;
  height: 10em;
}
.container-card .card .product-desc{
  text-align: center; 
  padding: 0px; 
  padding-top: 8px;
}
.container-card .card .product-desc .product-price{
  color: #127f3f; 
  font-weight: bold;
}
.button-green{
  background-color: #127f3f; 
  color: #fff;
  font-weight: bold; 
  height: 2.3em; 
  line-height: 35px; 
  min-height: initial; 
  min-width: initial;
}
.button-green:focus, .button-green:active, .button-green:hover{
  color: #fff;
}
.button-red{
  background-color: #a21c26; 
  color: #fff;
  font-weight: bold; 
  height: 2.3em; 
  line-height: 35px; 
  min-height: initial; 
  min-width: initial;
}
.button-red:focus, .button-red:active, .button-red:hover{
  color: #fff;
}
.single-product .product-name, .single-manufacturer .manufacturer-name, h2.manufacturer-name{
  margin: 5px;
}
.single-product .container-card .card, .single-manufacturer .container-card .card, .manufacturer-product .card{
  margin-top: 0;
}
.single-product .product-image{
  padding: 5px; 
  text-align: center;
}
.product-image img{
  border-radius: 10px;
}
.single-product .product-slider-image{
  float: left;
  max-height: 10em;
}
.single-product .product-slider-image img {
  max-width: 11em;
  border-radius: 10px;
}
.single-product .product-quantity {
  padding: 10px;
}
.single-product .quantity{
  display: inline-block;
  max-width: 5em;
  padding: 0;
  max-height: 1.5em;
}
.single-product .tabs{
  position: relative;
  background-image: none;
}
.single-product .tabs .tab-item.active{
  font-weight: bold;
}
.single-product .container-content-tabs{
  padding: 5px;
}
.single-product .container-content-tabs .tab-content{
  display: none;
}
.single-product .container-content-tabs .tab-content.active{
  display: block;
}
.single-product .tab-content .item-note{
  float: none;
}
.single-product .go-manufacturer, .single-product .go-manufacturer-products{
  margin: 10px;
}
.single-manufacturer .manufacturer-description{
  text-align: justify;
}
.single-manufacturer .manufacturer-description h5, .single-manufacturer .manufacturer-description h4, .single-manufacturer .manufacturer-description h6,
#description-tab h5, #description-tab h6, #description-tab h4{
  font-size: 1.2em;
}
.single-manufacturer h3{
  font-size: 1.4em;
}
.single-manufacturer .manufacturer-description img{
  display: block;
}
.single-manufacturer address {
  font-size: .9em;
}
.button-green .ion-plus-circled {
  position: relative;
  top: -3px;
  left: -5px;
}
.col-update-quantity{
  text-align: center;
}
.col-update-quantity input{
  max-width: 100%;
  text-align: center;
}
.col-delete-cart{
  position: relative;
}
.button-delete-from-cart{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}